@import './../../mixin';

#gameFiM {
  h3 {
    background-image: linear-gradient(90deg, #feffbc 0%, #ffc671 153.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include display-tile;
    max-width: 41.875rem;
  }
}
