@media only screen and (max-width: 1200px) {
  #support {
    @apply px-8;

    .logos img {
      width: 20%;
      height: auto;
      object-fit: contain;
    }

    .flexCenter {
      .logos {
        justify-content: space-evenly;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  #support {
    @apply px-8;

    .logos img {
      width: 20%;
      height: auto;
      object-fit: contain;
    }
  }
}
