@mixin section-title {
  font-family: 'Cinzel', serif;
  font-size: 4rem;
  line-height: 1.125;
  font-weight: 400;
  background: linear-gradient(90deg, #feffbc 0%, #ffc671 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin display-tile {
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  line-height: calc(56 / 48);
  font-weight: 400;
}

@mixin common-title {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
}

@mixin card-title {
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 400;
}

@mixin description {
  font-size: 0.75rem;
  line-height: 2;
  transition: all 0.3s ease-in-out;
  font-weight: 400;

  &:hover {
    font-size: 1.25rem;
    line-height: 1.6;
  }
}

@mixin date-caption {
  font-family: 'Cinzel', serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  color: #d0b285 !important;
}

@mixin menu {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}

@mixin nav {
  font-family: 'Roboto', serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.13rem;
}

@mixin display-button {
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  line-height: calc(32 / 24);
  font-weight: 700;
}

@mixin common-button {
  font-family: 'Cinzel', serif;
  font-size: 1rem;
  line-height: 1.5;
}
