@tailwind base;
@tailwind components;
@tailwind utilities;
@import './mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// ================================ Text ================================

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: calc(40 / 24);
  font-weight: 400;
  background-image: url('/2312/main-bg.png');
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  padding: 100px;
}

.menu {
  @include nav;
}

.section-title {
  @include section-title;
}

.container-1640 {
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
}

// ================================  PADDING ================================
.pt-160 {
  padding-top: 10rem;
}

.pb-68 {
  padding-bottom: 4.25rem;
}

// ================================  HEADER ================================
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 8.75rem;
    height: 118px;
    align-items: center;

    nav {
      display: flex;
      gap: 2.75rem;

      .menu {
        text-transform: uppercase;
        background: linear-gradient(90deg,
            #ffffff 0%,
            #f5f0d2 32%,
            #e9dbbd 71%,
            #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        .text {
          text-transform: uppercase;
          background: linear-gradient(90deg,
              #ffffff 0%,
              #f5f0d2 32%,
              #e9dbbd 71%,
              #ffffff 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        display: flex;
        align-items: center;

        .icon-left {
          transform: rotateY(180deg);
          margin-right: -1rem;
        }

        .icon-right {
          margin-left: -1rem;
        }

        .text {
          position: relative;

          &::before {
            content: '';
          }

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            background-image: url('/2312/icons/menu-bot-line.svg');
            width: 1.875rem;
            aspect-ratio: 1/1;
            height: auto;
          }
        }
      }
    }
  }
}

// ================================  HEADER ================================