@import './../../mixin.scss';

#community {
  h3 {
    background-image: linear-gradient(90deg, #feffbc 0%, #ffc671 153.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include display-tile;
  }

  h4 {
    @include card-title;
    background-image: linear-gradient(90deg, #feffbc 0%, #ffc671 153.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    color: white;
  }

  .game-fi-box {
    padding: 10px;

    .topLeft-icon {
      top: 5px;
      left: 4px;
    }

    .topRight-icon {
      top: 5px;
      right: 4px;
    }

    .bottomLeft-icon {
      bottom: 5px;
      left: 4px;
    }

    .bottomRight-icon {
      bottom: 5px;
      right: 4px;
    }

    .game-fi-box-wrapper {
      border: 1px solid #dfad69;

      .content {
        p {
          font-size: 12px;
          transition: all 0.5s;
        }
      }
    }

    h6 {
      @include card-title;
      background-image: linear-gradient(90deg, #feffbc 0%, #ffc671 153.8%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 10px;
    }

    .animation-readmore {
      span {
        @include card-title;
        background-image: linear-gradient(90deg, #feffbc 0%, #ffc671 153.8%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 16px;
      }
    }

    &:hover {
      .content {
        p {
          font-size: 20px;
        }
      }
    }
  }
  .main-news {
    position: relative;
    .leftSide {
      width: 60%;
      max-width: 1009px;
      .animation-readmore {
        span {
          background: var(
            --text-gardient,
            linear-gradient(90deg, #feffbc 0%, #ffc671 153.8%)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 1.5rem;
          font-family: 'Cinzel', serif;
          font-weight: bold;
        }
      }
      .main-news-item-footer,
      .main-news-item-content {
        max-width: 830px;
      }
    }

    .rightSide {
      position: absolute;
      top: -20px;
      right: -8%;
      width: 60%;
      height: auto;
      aspect-ratio: 954.05/508.83;
      z-index: -1;
      img {
        width: 100%;
      }
    }
  }

  .animation-readmore {
    position: relative;
    padding-left: calc(2.125rem + 0.625rem);
    transition: all 0.5s ease-in-out;
    * {
      transition: all 0.5s ease-in-out;
    }
    svg {
      position: absolute;
      top: 50%;
      left: 10%;
      width: 2.125rem;
      height: auto;
      transform: translate(-50%, -50%);
    }
    &:hover {
      padding-left: 0;
      padding-right: calc(2.125rem + 0.625rem);
      svg {
        left: 90%;
      }
    }
  }
}
