@import './../../mixin.scss';

#community {
  h2 {
    position: relative;
    background-image: linear-gradient(90deg, #feffbc 0%, #ffc671 153.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include section-title;
    margin-bottom: 90px;

    &::after {
      position: absolute;
      background-image: url('./../../../public/2312/line_header.png');
      width: 324px;
      display: block;
      height: 36px;
      content: "";
      bottom: -50px;
    }
  }

  h3 {
    background-image: linear-gradient(90deg, #feffbc 0%, #ffc671 153.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include display-tile;
  }

  h4 {
    @include card-title;
    background-image: linear-gradient(90deg, #feffbc 0%, #ffc671 153.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    color: white;
  }

  .game-fi-box {
    padding: 10px;

    .topLeft-icon {
      top: 5px;
      left: 4px;
    }

    .topRight-icon {
      top: 5px;
      right: 4px;
    }

    .bottomLeft-icon {
      bottom: 5px;
      left: 4px;
    }

    .bottomRight-icon {
      bottom: 5px;
      right: 4px;
    }

    .game-fi-box-wrapper {
      border: 1px solid #DFAD69;

      .content {
        p {
          font-size: 12px;
          transition: all 0.5s;
        }
      }
    }

    h6 {
      @include card-title;
      background-image: linear-gradient(90deg, #feffbc 0%, #ffc671 153.8%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 10px;
    }

    .animation-readmore {
      span {
        @include card-title;
        background-image: linear-gradient(90deg, #feffbc 0%, #ffc671 153.8%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 16px;
      }
    }

    &:hover {
      .content {
        p {
          font-size: 20px;
        }
      }
    }
  }
}