@import './../../mixin.scss';

#auctionHouse {
  p {
    flex: 1;
    color: white;
    padding-right: 25px;
  }

  .highlight-wrapper {
    width: 808px;
    height: 355px;
    padding-left: 95px;
    padding-top: 70px;

    ul {
      li {
        position: relative;
        color: white;

        &::before {
          content: '';
          background-image: url('./../../../public/2312/dot_image.png');
          width: 32px;
          height: 32px;
          display: inline-block;
          top: 50%;
          left: -40px;
          position: absolute;
          transform: translateY(-50%);
        }
      }
    }
  }
  .image-main {
    width: 100%;
    margin-top: -8%;
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1794/623;
    }
  }
}
